
#background {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    overflow: auto;
    height: 100%;
    width: 100%;
    font-size: 50%;
    background-position: 0 0, center;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-color: #020202;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);

}


 


#profilepic {
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    
    
  }

  #logo {
    width:42px;
    height:42px;
    float: left;
    margin-top: -7%;
    margin-right: 2%;
    margin-left: -2%;
    border-radius: 50%;
  } 